{% extends 'travel_wishlist/base.html' %}
{% block content %}

<h1>Travel Wishlist</h1>

<form method="POST" action="{% url 'place_list' %}">
    {% csrf_token %}
    {{ new_place_form }}
    <button id="add-new-place" type="submit">Add</button>
</form>

{% for place in places %}

<div class="wishlist-place">

    <h1><a id="place-name-{{ place.pk }}" href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a></h1>

</div>

{% empty %}

<P>You have no places in your wishlist</P>

{% endfor %}

{% endblock %}